@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"), url("/Gilroy-FREE/Gilroy-Light.otf") format("truetype");
}
:focus,
a:focus {
  outline: 0;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  color: inherit;
  font: inherit;
}
caption,
th,
td {
  text-align: left;
  font-weight: 300;
  word-break: break-word;
}
a,
a:hover {
  text-decoration: none;
}

/* typography */
h1 {
  font-size: 40pt;
}
h2 {
  font-size: 43pt;
}
h3 {
  font-size: 29pt;
}
h4 {
  font-size: 19pt;
}
h5 {
  font-size: 20pt;
}
h6 {
}

body {
  background-color: #fff;
  font-family: "gilroy", sans-serif !important;
  color: #4a5566;
  font-size: 16px;
}
body.paddingzero {
  padding-bottom: 0;
}
a {
  color: #333;
}
.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}
.auto {
  margin: 0 auto;
}
.clear {
  clear: both;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.semibold {
  font-weight: 600;
}
.lightText {
  font-weight: 300;
}
.bold {
  font-weight: bold;
}
em {
  font-style: italic;
}
input,
select {
  font-family: "Gilroy", Arial, sans-serif;
}
form select {
  background: none;
  border-radius: 0;
}

#header {
  margin: auto;
  padding: 10px 8%;
}
#header .logo {
  float: left;
}
#header .logo img {
  width: 170px;
  padding-top: 4px;
}
#header .menu {
  padding-top: 8px;
  float: right;
}
#header .menu ul li {
  float: left;
  text-align: center;
  padding: 0 20px;
}
#header .menu ul li a {
  cursor: pointer;
  font-size: 16px;
  padding-bottom: 30px;
  line-height: 22px;
  color: #213368;
}
#header .menu ul li a.active,
#header .menu ul li a:hover {
  border-bottom: 2px solid #00bdf2;
  padding-bottom: 7px;
}
#header .menu ul li:hover .dropdown {
  display: block;
}
#header .menu ul li.bgBtn {
  background: #00bdf2;
  border: 1px solid #00bdf2;
  border-radius: 4px;
  padding: 5px 15px 9px !important;
  margin-top: -7px;
  font-size: 15px;
  color: #fff !important;
}
#header .menu ul li.bgBtn a {
  color: #fff !important;
  font-size: 15px;
  padding-bottom: initial;
  border-bottom-color: #fff !important;
}
#header .menu ul li.bgBtn a:hover {
  border-bottom: none;
}
#header .menu ul li.bgBtn .submenu,
#header .menu ul li.bgBtn:hover::before {
  background: #00bdf2 !important;
}
#header .menu ul li.bgBtn .submenu a:last-child {
  border-bottom: none !important;
}
#header .menu ul li:last-child a {
  padding-bottom: initial;
}
#header .menu ul li.loginBtn {
  border: 1px solid #00bdf2;
  border-radius: 4px;
  padding: 7px 15px;
  margin-top: -7px;
  margin-left: 10px;
  color: #00bdf2;
  cursor: pointer;
  position: relative;
  font-size: 15px;
  line-height: 20px !important;
}
#header .menu ul li.loginBtn:hover {
  padding-bottom: 22px !important;
  border-radius: 4px 4px 0 0;
}
#header .menu ul li.loginBtn:hover::before {
  height: 2px;
  width: 100%;
  background: #fff;
  content: "";
  position: absolute;
  bottom: -2px;
  right: 0;
  z-index: 99;
}
#header .menu ul li.loginBtn .submenu {
  position: absolute;
  right: -1px;
  top: 47px;
  width: 220px;
  border: 1px solid #00bdf2;
  border-radius: 4px 0 4px 4px;
  background: #fff;
  display: none;
  box-shadow: 4px 4px 5px #f9f9f9;
}
#header .menu ul li.loginBtn:hover > .submenu {
  display: block;
}
#header .menu ul li.loginBtn .submenu a {
  color: #00bdf2;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  text-align: left;
  display: block;
  margin: 0px 20px 0px 20px;
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
}
#header .menu ul li.loginBtn .submenu span {
  color: #666;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  text-align: left;
  display: block;
  margin: 0px 20px 0px 20px;
  padding: 15px 0;
  cursor: default;
}
#header .menu ul li.loginBtn .submenu span em {
  font-size: 12px;
  line-height: 14px;
  display: block;
  font-style: normal;
  font-weight: 400;
}
#header .mobileMenu {
  display: none;
  float: right;
  padding: 10px 10px 0 0;
}
#header #hoverMenu {
  display: none;
  position: fixed;
  z-index: 2000;
  backface-visibility: hidden;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  background: rgba(255, 255, 255, 1);
  transition: all 0.3s;
}
#header .menu ul li.borerBtn a {
  border: 1px solid #00bdf2;
  border-radius: 4px;
  padding: 6px 15px;
  margin-top: -7px;
  margin-left: 10px;
  color: #00bdf2;
  cursor: pointer;
  position: relative;
  font-size: 15px;
  line-height: 20px !important;
}
#header .menu ul li.borerBtn a:hover {
  background: #00bdf2;
  color: #fff;
}

#header .menu ul li.borderBtn {
  border: 1px solid #00bdf2;
  border-radius: 4px;
  padding: 6px 15px;
  margin-top: -7px;
  margin-left: 20px;
  color: #00bdf2;
  cursor: pointer;
  position: relative;
  font-size: 14px;
  line-height: 20px !important;
}
#header .menu ul li.borderBtn:hover {
  background: #00bdf2;
}
#header .menu ul li.borderBtn a {
  color: #00bdf2;
  font-size: 15px;
}
#header .menu ul li.borderBtn:hover a {
  border: none !important;
  color: #fff;
}
#header #hoverMenu .closeIcon {
  position: absolute;
  right: 0;
  padding: 10px 20px 0 0;
  font-size: 22px;
  cursor: pointer;
}
#header #hoverMenu ul {
  margin-top: 10%;
}
#header #hoverMenu .mobileMenuFooter {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  font-size: 12px;
}
#header #hoverMenu .mobileMenuFooter .border {
  border-top: 10px solid #00bdf2;
  border-bottom: 10px solid #213368;
  margin-top: 10px;
}
#header #hoverMenu ul li {
  text-align: center;
}
#header #hoverMenu ul li a {
  display: inline-block;
  padding: 15px;
  font-size: 20px;
  margin: 0;
  text-decoration: none;
  color: #213368;
}
#header #hoverMenu ul li a.active {
  color: #3399ff;
}
.header-container {
  margin: 0px auto;
  max-width: 93vw;
  position: relative;
  z-index: 999;
}

.visible {
  visibility: visible !important;
  opacity: 1 !important;
}

#mainBanner {
  width: 100%;
}
#mainBanner #imgContainer {
  min-height: 315px;
}
#mainBanner #imgContainer .bgImg {
  background: url(../img/img-homebg.png) 100% center repeat #f8f8f8;
  min-height: 550px;
  background-size: cover;
}
#mainBanner #imgContainer .bgImg .lightText {
  padding: 95px 0 35px 0;
}
#mainBanner #imgContainer .bgImg span {
  font-size: 54px;
  color: #11204c;
  display: inline-block;
  padding: 0 10px;
}
#mainBanner #imgContainer .bgImg h2 {
  font-size: 45px;
  line-height: 42px;
  width: 90%;
  margin: auto;
  color: #fff;
  font-weight: 300;
}
#mainBanner #imgContainer .mobileImg {
  margin-top: -45px;
}
#mainBanner #imgContainer .border {
  border-top: 20px solid #00bdf2;
  border-bottom: 20px solid #213368;
}

#product-menu {
  margin: auto;
  width: 1200px;
  overflow: hidden;
  padding: 10px 0;
  text-align: center;
}
#midcontainer {
  margin: auto;
  width: 960px;
  overflow: hidden;
  padding: 10px 0;
  text-align: center;
}
.top-spacing {
  margin-top: -6rem !important;
}
#midcontainer h1 {
  color: #2b457b;
  font-size: 35px;
  line-height: 45px;
}
#midcontainer h1 .blueBG {
  color: #00bdf2;
}
#midcontainer .text {
  font-size: 20px;
  font-weight: 300;
  width: 92%;
  margin-top: 17px;
  display: inline-block;
}
#midcontainer .listing {
  width: 100%;
  margin: auto;
  padding-bottom: 35px;
  overflow: hidden;
  padding-top: 50px;
}
#midcontainer .listing ul {
  overflow: hidden;
}
#midcontainer .listing ul li {
  width: 50%;
  margin: 30px 0% 30px 0;
  float: left;
  text-align: left;
  box-sizing: border-box;
}
#midcontainer .listing ul li.mr0 {
  margin-right: 0 !important;
}
#midcontainer .listing ul li .conImg {
  float: left;
  padding-right: 0;
}
#midcontainer .listing ul li .floatLeft {
  width: 84%;
  margin-left: 5%;
}
#midcontainer .listing ul li .conImg img {
  margin-top: 10px;
  width: 85%;
}
#midcontainer .listing ul li .head {
  font-size: 22px;
  color: #213368;
}
#midcontainer .listing ul li p {
  color: #4a5566;
  font-size: 16px;
  font-weight: 300;
}
#midcontainer a.but {
  background: #00bdf2;
  font-size: 14px;
  color: #fff;
  padding: 15px 25px;
  font-weight: 400;
  border-radius: 3px;
  margin-top: 20px;
  cursor: pointer;
  display: inline-block;
}
#midcontainer a.but img {
  float: right;
  width: 8px;
  margin: 3px 0 0 12px;
}
#midcontainer a.but:hover {
  background: #02abe2;
}

/* new css for homepage changes */
#paytmCard {
  margin: auto;
  width: 1200px;
  overflow: hidden;
  padding: 10px 0 0 0;
  text-align: center;
}
#paytmCard .cardContainer .divNLeft {
  float: left;
  width: 33%;
}

#paytmCard .cardContainer .divNLeft .listing ul li {
  margin: 20px 43px 20px 44px;
  float: left;
  text-align: left;
  box-sizing: border-box;
}
#paytmCard .cardContainer .divNLeft .listing ul li img {
  float: left;
  width: 27px;
  padding-right: 20px;
  margin-top: 12px;
}
#paytmCard .cardContainer .divNLeft .listing ul li .head,
#paytmCard .cardContainer .divNLeft .listing ul li .head a {
  color: #213368;
  font-size: 22px;
  line-height: 30px;
  padding-bottom: 10px;
}
#paytmCard .cardContainer .divNLeft .listing ul li .head a:hover {
  text-decoration: underline;
}
#paytmCard .cardContainer .divNLeft .listing ul li p {
  color: #4a5566;
  font-size: 16px;
  padding-left: 48px;
  font-weight: 300;
}
#paytmCard .cardContainer .divNLeft .listing ul li p strong {
  font-weight: 600;
}
#paytmCard .cardContainer .divNLeft .listing ul li p a {
  color: #00bdf2 !important;
  font-weight: 400;
}
#paytmCard .divCenter {
  margin-top: 10px;
  float: left;
  width: 34%;
  margin-bottom: -11px;
}
#paytmCard .divCenter img {
  width: 100%;
}

#reruestMain {
  width: 100%;
  background: #00bdf2;
  padding: 50px 0;
  overflow: hidden;
}
#reruest {
  margin: auto;
  overflow: hidden;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}
#reruest p {
  font-size: 30px;
}
#reruest a.but {
  background: #fff;
  font-size: 14px;
  color: #213368;
  padding: 15px 25px;
  font-weight: 400;
  border-radius: 3px;
  margin-top: 20px;
  cursor: pointer;
  display: inline-block;
}
#reruest a.but img {
  float: right;
  width: 8px;
  margin: 3px 0 0 12px;
}
#reruest a.but:hover {
}

#queAns {
  margin: auto;
  width: 960px;
  overflow: hidden;
  margin-top: 50px;
  text-align: center;
}
#queAns h1 {
  color: #2b457b;
  font-size: 35px;
  line-height: 45px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 40px;
}
#queAns .half {
  float: left;
  width: 100%;
}
#queAns .tab {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  color: #fff;
  overflow: hidden;
  margin-bottom: 25px;
}
#queAns input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
#queAns label {
  position: relative;
  display: block;
  padding: 26px 56px 26px 26px;
  font-weight: bold;
  cursor: pointer;
}
#queAns .blue label {
  background: #f7f7f7;
  font-size: 18px;
  text-align: left;
  font-weight: 400;
  color: #213368;
}
#queAns .blue label:hover {
  background: #f2fcff;
}
#queAns .tab-content {
  max-height: 0;
  overflow: hidden;
  background: #fff;
  -webkit-transition: max-height 0.35s;
  -o-transition: max-height 0.35s;
  transition: max-height 0.35s;
}
#queAns .blue .tab-content {
  background: #fff;
  color: #4a5566;
  font-size: 14px;
  font-weight: 400;
}
#queAns .tab-content p {
  background: #f2fcff;
  padding: 26px;
  text-align: left;
  font-size: 18px;
  color: #213368;
}
#queAns .tab-content ul {
  background: #f2fcff;
  margin: 0;
  padding: 0px 26px 0 46px;
}
#queAns .tab-content ul li {
  text-align: left;
  font-size: 18px;
  color: #213368;
  list-style: disc;
  padding-bottom: 10px;
}
#queAns .tab-content ul li a,
#queAns .tab-content p a {
  color: #00bdf2;
}
#queAns input.checked ~ .tab-content {
  max-height: none;
}
#queAns label::after {
  position: absolute;
  right: 0;
  top: 5px;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
}
#queAns input[type="checkbox"] + label::after {
  content: "+";
}
#queAns input[type="radio"] + label::after {
  content: url(../img/ic_downarrow_grey_lg.png);
}
#queAns input[type="radio"].checked + label::after {
  content: url(../img/ic_uparrow_blue_lg.png);
}
#queAns input[type="radio"].checked + label {
  background: #f2fcff;
}
#queAns a.but {
  background: #00bdf2;
  font-size: 14px;
  color: #fff;
  padding: 15px 25px;
  font-weight: 400;
  border-radius: 3px;
  margin-top: 20px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
}
#queAns a.but img {
  float: right;
  width: 8px;
  margin: 3px 0 0 12px;
}
#queAns a.but:hover {
  background: #02abe2;
}
#queAns .link {
  font-size: 20px;
  color: #4a5566;
  display: block;
  padding: 40px 0 60px 0;
  clear: both;
}
#queAns .link span a {
  cursor: pointer;
  color: #00bdf2;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .contact-section .block {
    width: calc(33.33% - 80px);
    margin: 0 40px 60px;
  }
}
@media (max-width: 767px) {
  .contact-banner {
    background-size: 400px;
    padding: 88px 25px 72px;
  }
  .contact-banner h1 {
    margin: 0 0 80px;
    font-size: 32px;
    line-height: 40px;
  }
  .contact-banner p {
    font-size: 17px;
    line-height: 25px;
    margin: 0px;
    font-weight: 500;
  }
  .contact-banner p span {
    display: block;
    margin-top: 10px;
  }
  .contact-banner p a {
    font-weight: 700;
    display: block;
    font-size: 32px;
    line-height: 40px;
  }
  .contact-section {
    margin-top: 80px;
  }
  .contact-section .block {
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
    margin: 0 0 60px;
  }
  .contact-section .block h2,
  .contact-section .block p,
  .contact-atm a {
    font-size: 17px;
    line-height: 25px;
  }
  .contact-atm {
    margin-bottom: 75px;
  }
}

@media (min-width: 768px) {
  .w {
    margin: 0 auto;
    position: relative;
    height: 1px;
  }
  .languagebar {
    position: absolute;
    top: 85px;
    right: 0;
  }
  .languagebar ul {
    margin: 0;
    padding: 0;
    position: absolute;
    left: -2px;
    width: 100%;
    background: #fff;
    z-index: 99;
    border: 1px solid #0bc1f3;
    top: 35px;
    display: none;
  }
  .lang h1 {
    text-align: left;
  }
  .rightFloat {
    float: right !important;
  }
  #rates ul li .detail ul li {
    width: 85% !important;
  }
}
