
.footer-main{
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  margin-left:3rem ;
}


footer{
  color: #807D7D;
  text-align: center;
font-style: normal;
font-weight: 800;
font-size: 1.25rem;
line-height: 2.25rem;
margin-bottom: 3rem;
}

.ft__mid{
  margin-left: 25rem;
  margin-right: 25rem;
}

.ft__text{
  color: #807D7D;
  font-size: 15px;
}
.ft__left img{
  margin-left: -0.8rem;
  margin-bottom: 1rem
}

.ft__text1{
  font-family: 'Poppins';
  color: #0D0D0D;
font-style: normal;
font-weight: 800;
font-size: 15px;
line-height: 150%;
/* or 36px */
letter-spacing: 0.016em;
}
.ft__p{
  color: #807D7D;
  opacity: 70%;
}

.ft__text2{
  color: #807D7D;
  font-size: 20px;
}
